:root {
    --bg-body: #005189;
    --color-font: #fdffff;
    --color-button: #1f98da;
    --colorBtnHover: #24a4de;
}

* {
    box-sizing: border-box;
}

.section-1 {
    display: flex;
    margin-top: 100px;
    text-align: center;
    box-shadow: 10px 10px 20px var(--colorBShadow);
    background-color: var(--bg-body);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-body);
}

h1 {
    margin: 0 0 50px 0px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-font);
    font-size: Arial;
}

p {
    text-align: center;
    padding: 25px 0px;
    font-size: 20px Arial;
    color: var(--color-font);
}

.number {
    text-transform: uppercase;
}

button {
    height: 80px;
    width: 80px;
    margin: 20px;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--colorBtnHover);
    color: var(--color-font);
    font-weight: bold;
}

button:hover {
    height: 90px;
    width: 90px;
    margin: 20px;
    border-radius: 50%;
    color: var(--color-font);
    font-weight: bold;
}

#currentNumber {
    color: var(--color-font);
    font-weight: bold;
}