:root {
    --bg-body: #04b3c8;
    --color-font: #fff;
    --color-button: #323232;
}

.section-1 {
    display: flex;
    margin-top: 100px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-body);
}

h1 {
    margin: 0 0 50px 0px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-font);
}

p {
    text-align: center;
    padding: 50px 0px;
    font-size: 20px;
    color: var(--color-font);
    text-transform: uppercase;
}

button {
    height: 80px;
    width: 80px;
    margin: 20px;
    border-radius: 50%;
    color: var(--color-button);
    font-weight: bold;
}

#currentNumber {
    color: var(--color-font);
    font-weight: bold;
}